* {
    margin: 0;
    padding: 0;
}

#app {
    height: 100vh;
}
.title{
    font-size: 25px;
    text-align: center;
}
.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* bott */
    /* background: rgb(179, 179, 179); */
}


/* .outside_tool_icon {
    height: 35px;
    width: 35px;
} */

/* .outside_tool_item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(135, 135, 135);
    width: 50px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px 0 0 20px;
    position: relative;
}

.outside_tool_item:hover {
    background-color: rgb(135, 135, 135);
    transition: 0.25s;
}

.outside_tool_item span {
    display: none;
}

.outside_tool_item:hover span {
    display: block;
    position: absolute;
    right: 45px;
    top: 10px;
    width: auto;
   
    background-color: rgba(135, 135, 135);
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
 */

.ad_window {
    margin: 0px 0 0 75px;
    /* display: flex; */
    
    flex-wrap: nowrap;
}


/* html{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
} */

.tooltiptext {
    font-family: 'Roboto', sans-serif;
}

.wrpaer_ad {
    background-color: #282828;
    border: 10px solid #282828;
    margin: 15px;
    border-radius: 8px;
    width: 280px;
    height: 275px;
}


.top {
    flex: 75%;
    display: flex;
}
.down {
    flex: 0.25;
    
}
.top__left {
    flex: 0.30;
    min-width: 300px;
    height: 100%;
    border: 1px solid #888888;
}

.top__middle {

    flex: 0.50;
    min-width: 300px;
    height: 100%;
    border: 1px solid #888888;

}

.top__right {
    background-color: #474747;
    flex: 0.20;
    min-width: 200px;
    height: 100%;
    border: 1px solid #888888;
}
.right_title{
    /* height: 30px; */
    margin:5px;
    padding:8px;
    border-radius: 8px;
    background-color: #282828;
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 20px;
}

.number{
    font-size: 20px;
    color: #9eb6cf;

}
.ad_content_wrpaer {
    margin: 15px; 
    width: 280px;
    border-radius: 5px;
    background: #fff;
    padding: 18px;
    box-shadow: 0 0 10 rgba(0,0,0,0.1);   
}


.ad_content_wrpaer .ad_time_addcontent{
    position: relative;
    width: 100%;
    height: 40px;
}
.ad_time_addcontent{
    font-size: 13px;
    margin: 5px 0;
}
.ad_content_wrpaer .ad_time_addcontent input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid silver;
}

.ad_content_wrpaer .ad_time_addcontent label {
    position: absolute;
    bottom: 8px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.ad_content_wrpaer input:focus ~ label,
.ad_content_wrpaer input:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
    color: #4158D0;
}

.ad_content_wrpaer .ad_time_addcontent .underline{
    position:absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.ad_content_wrpaer .underline::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158D0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.ad_content_wrpaer input {
    padding-top: 13px; 
}
.ad_content_wrpaer input:focus ~ .underline::before,
.ad_content_wrpaer input:valid ~ .underline::before{
    transform: scaleX(1);
}


hr{
    border-color: #000000;
}
.new_window {
    display: flex;
}

.window {
    transition: 0.3s ease;
    width: 70px;
    height: 30px;
    font-size: 15px;
    font-family: 'roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px  ;
    background-color: rgb(186, 185, 185);
}


.textarea_size {
    position: relative;
    width: 100%;
    height: 190px;
    border: none;
    background-color: rgb(245, 245, 245);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius:0 0 5px 5px;
}

.ad_tool {
    text-align: right;
}



.btn {
    position: relative;
    min-width: 50px;
    background: #333333;
    border: 2.5px solid #333333;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    padding: 5px 10px;
}

.btn span {
    position: relative;
    z-index: 100;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.btn:before {
    transform: translate3d(-100%, 0, 0);
    background-color: #FFFFFF;
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.btn:after {
    background-color: rgb(134, 134, 134);
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}

.btn:hover:before {
    transform: translate3d(0, 0, 0);
}

.btn:hover:after {
    transform: translate3d(0, 0, 0);
}


.ad_content {
    margin: 10px ;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
}



::-webkit-scrollbar {
    height: 15px;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    
    border-radius: 15px;
    background-color: #888888;
}

.top__right__user {
    position: relative;
    top: 130px;
    border: white;
}

.scrollmenu>img {
    inline-size: 100%;
    /* width: 100%; */
    aspect-ratio: 16 / 9;
    /* object-fit: cover; */
}

.scrollmenu {
    width: 100%;
    /* background-color: #333; */
    /* overflow: auto; */
    white-space: nowrap;
}

.scrollmenu img {
    background-color: #333;
    vertical-align: middle;
    display: inline-block;
    color: white;
    padding: 5px;
}

.media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    /* display: flex; */
    overflow-x: auto;
}

.media-scroller {
    width: 100%;
}