* {
    margin: 0;
    padding: 0;
}

.content {
    min-width: 500px;
    height: 100%;
}

.title {
    font-weight: bold;
}

.Outside-functional-Tool {
    display: flex;
}

.Outside-functional-Tool-Btn {
    margin: 5px;
    padding: 2px 8px;
    border-radius: 5px;
}

.Outside-functional-Tool-Btn:hover {
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
}

.top {
    display: flex;
    background-color: rgb(0, 0, 0);
}

.Video {
    width: 100%;
    height: auto;
    max-width: 1050px;
    min-width: 680px;
    border: 5px solid #353848;
    box-sizing: border-box;
}

.Video video {
    width: 100%;
    height: auto;
}

.AD-Fixed {
    flex: 1;
    border: 5px solid #464242;
}

.AD-Title {
    font-size: 25px;
    margin: 15px;
    font-weight: bold;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input {
    /* width: 350px; */
    height: 40px;
    font-size: 20px;
    color: #fff;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: 0;
    font-size: 15px;
    background: #000000;
}

.now-window-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 40px 40px;
    border-radius: 10px;
    border: #929292 solid;
}

.window {
    color: #000000;
    border-radius: 10px;
    padding: 8px 45px;
    background-color: #000000;
    transition: 0.2s;
}
.window:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.AD-write {
    margin: 10px 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

textarea {
    max-width: 380px;
    min-width: 380px;
    max-height: 120px;
    min-height: 120px;
    font-size: 22px;
    font-family: "Nanum Gothic", sans-serif;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.AD-tool-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.Tool-Btn {
    padding: 2px 10px;
    border-radius: 10px;
    border: #5b5e71 3px solid;
    min-width: 80px;
    text-align: center;
    margin: 8px 10px;
    font-size: 20px;
    font-family: "Nanum Gothic", sans-serif;
}

.Tool-Btn:hover {
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}

.Time-bar {
    display: flex;
}

.time_bar__line__time {
    padding: 0 50px;
    position: relative;
    top: 0;
    transform: translateX(-50%);
}

.time_bar__line__time__img {
    margin-top: 5px;
    cursor: pointer;
}

.time_bar__line__time__img el-icon {
    color: #ffd700;
}
#tips {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    top: -20px;
    transition: 0.5s;
    white-space: nowrap;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* 半透明黑色背景 */
    z-index: 999;
    /* 使覆蓋層位於最上層 */
}

.spinner {
    position: absolute;
    height: 120px;
    width: 120px;
    border: 6px solid;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1.3s ease infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.Arrow-Sound {
    display: flex;
}

.Arrow-Img {
    background-color: #151515;
    border: #151515 solid;
}

.Arrow-Img {
    filter: brightness(1) invert(0);
    transition: filter 0.3s;
}

.Arrow-Img:hover {
    filter: drop-shadow(0 0 5px #363636);
    cursor: pointer;
}
.down {
    background-color: #151515;
}
